.wrapper {
    position: absolute;
    height: auto;
    width: 100%;
}

.menu {
    padding: 0 30px;
}

ul.bar {
	list-style-type: none; /* Determines bullet type */
	margin: 0;
	padding: 0;
	width: 500px;
	background-color: #f1f1f1;
}

li {
	float: left;
	color: #000;
	padding: 0px;
	text-decoration: none;
}

li:hover {
	background-color: #555;
	color: white;
}
