ul {
	list-style-type: none;;
	margin: 0;
	padding: 0;
	width: 500px;
	background-color: #f5f5f5;
}

li {
	display: block;
	color: #000;
	padding: 8px 0px 8px 16px;
	text-decoration: none;
}

li:hover {
	background-color: #555;
	color: white;
}
