/*
body {
    font-family: sans-serif;
}

.menu {
    display: block;
}
*/

html {
    font-family: sans-serif;
    color: white;
}

body {
    margin: 0;
}

ul {
	list-style-type: none;  /* Determines bullet type, no bullets */
	margin-top: 5;
    padding-top: 15;
    float: right;
/*	width: 500px;*/
/*	background-color: #f1f1f1;*/
}

li {
    display: inline;
	color: #000;
	padding: 10px;
/*    margin-top: 5px;*/
	text-decoration: none;
/*    background-color: #f1f1f1;*/
}

li:hover {
	background-color: #555;
/*    text-decoration: underline;*/
}

a,
a:link,
a:link:hover,
a:visited {
    color: white;
    text-decoration: none;
}

.wrapper {
    position: absolute;
    height: auto;
    width: 100%;
}

.menu {
/*    padding: 0 30px;*/
}

.nav {
    background-color: black
}
