/*
body {
    font-family: sans-serif;
}

.menu {
    display: block;
}
*/

html {
    font-family: sans-serif;
    color: white;
}

body {
    margin: 0;
}

div {
    display: block;
}

/* Start of top bar */

ul {
	list-style-type: none;  /* Determines bullet type, no bullets */
	margin-top: 5;
    padding-top: 15;
/*    float: right;*/
/*	width: 500px;*/
/*	background-color: #f1f1f1;*/
}

li {
    display: inline;
	color: #000;
	padding: 10px;
/*    margin-top: 5px;*/
	text-decoration: none;
/*    background-color: #f1f1f1;*/
}

li:hover {
	background-color: #555;
/*    text-decoration: underline;*/
}

a,
a:link,
a:link:hover,
a:visited {
    color: white;
    text-decoration: none;
}

.wrapper {
    position: absolute;
    height: auto;
    width: 100%;
}

.nav {
    height: 50px;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 10px 0px 10px;
}

.left {
    float: left;
    max-width: 50%;
    padding-left: 10%;
}

.right {
    float: right;
    padding-left: 50%
    max-width: 50%;
}

/* End of top bar */

/* Beginning of banner/logo */

.banner {
    max-width: auto;
    height: 500px;
    background-color: aquamarine;
}

.contents {
    
}

.logo {
    margin: 0px auto;
}

#grad1 {
    height: 750px;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax (must be last) */
}

/* End of banner/logo */
